.card{
        width:65px;
        height:100px;
        float:left;
        margin:5px;
        color:black;
        padding:5px;
        border:solid 1px gold;
      }

      #Playfield{
        width: 600px;
      }

      .down{
        background-image: url(../images/card.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .clear{
        clear:both;
      }

      p {
        margin:0;
        padding: 5px 15px 0 5px;
      }

      #playerInfo{
        padding:15px 0 35px 0;

      #player1 p, #player2 p{
        float:left;
      }

      .active{
        background: blue;
      }
